<%= render 'shared/header' %>


<div class="top">

  <div class="main-left">
    <h2>探す</h2>
    <div class="search-shops">
      お店から探す
      <ul class="shop-search">
        <%= search_form_for @a, url:search_shops_path do |f| %>
          <li><%= f.collection_select :itemcategory_id_eq, @itemcategory_parent_id, :id, :name, include_blank:"指定なし" %></li>
          <br>
          <%= f.submit "検索", class:"shop-search-btn" %>
        <% end %>
      </ul>
    </div>
    <div class="search-items">
    </div>
  </div>
  <div class="main-right">
    <ul class="main-shops">
      <% @result_shops.each do |shop| %>
        <li class="main-shops-list">
          <%= link_to shop_path(shop.id), class:"main-shops-link" do %>
            <div class="main-shop-name">
              <%= shop.name %>
            </div>
            <%= image_tag shop.image, class: "main-shop-image" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>