<%= render 'shared/header' %>


<div class="top">

  <div class="main-left">
    <div class="search-shops">
      <h4>お店を探す</h4>
      <ul class="shop-search">
        <% @itemcategory_parent_id.each do |parent| %>
          <%= link_to search_shops_path(@a, :'q[itemcategory_id_eq' => "#{parent.id}"), class:"parent-category" do %>
            <li><%= parent.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="main-right">
    <% if @result_shops.present? %>
    <ul class="main-shops">
      <% @result_shops.each do |shop| %>
        <li class="main-shops-list">
          <%= link_to shop_path(shop.id), class:"main-shops-link" do %>
            <div class="main-shop-name">
              <%= shop.name %>
            </div>
            <%= image_tag shop.image, class: "main-shop-image" %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% else %>
      お探しのお店は見つかりませんでした
      <%= link_to "トップへ戻る", root_path, class:"action-link" %>
    <% end %>
  </div>
</div>