<%= render 'shared/header' %>

<div class="shops-show-main">
  <div class="shops-show-left">
    <div class="search-items">
      <h4>このお店の商品を探す</h4>
      <ul class="item-search">
        <%= search_form_for @p, url:search_shop_items_path(@shop.id) do |f| %>
          <li>カテゴリー
            <%= f.collection_select(:itemcategory_id_eq, Itemcategory.find(@shop.itemcategory_id).children, :id, :name, {include_blank:"指定なし"}, {class:"search-items-select"}) %></li>
          <li>発送までの日数
            <%= f.collection_select(:shipday_id_eq, @shipday, :id, :name, {include_blank:"指定なし"}, {class:"search-items-select"}) %></li>
          <li>価格<br>
            <%= f.radio_button :price_lteq, "" %>
              指定なし<br>
            <%= f.radio_button :price_lteq, "1000" %>
              1,000円以下<br>
            <%= f.radio_button :price_lteq, "2500" %>
              2,500円以下<br>
            <%= f.radio_button :price_lteq, "5000" %>
              5,000円以下
          </li>

          <div class="search-action">
            <%= link_to "クリア", shop_path(@shop), class:"search-link" %>
            <%= f.submit "完了", class:"search-link"%>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="shops-show-right">
    <div class="shops-show-shop">
      
      <div class="shop-name">
        <%= link_to  @shop.name, shop_path(@shop.id), class:"item-show-shop-link" %>
          <% if customer_signed_in? %>
            <% if @favorite.present? %>
              <%= link_to shop_favorite_path(@shop), method: :delete, class:"favorite-delete" do %>
                <i class="fas fa-heart"></i>お気に入り中
              <% end %>
            <% else %>
              <%= link_to shop_favorites_path(@shop), method: :post, class:"favorite-new" do %>
                <i class="far fa-heart"></i>お気に入り登録
              <% end %>
            <% end %>
          <% end %>
      </div>
      <div class="shops-show-shop-top">
        <div class="shops-show-shopkeeper-link">
          <% if shopkeeper_signed_in? && current_shopkeeper.id == @shop.shopkeeper_id %>
            <p class="shop-btn">
              <%= link_to "出品", new_shop_item_path(@shop.id), class:"action-link" %>
            </p>
            <p class="shop-btn">
              <%= link_to "店舗の編集・削除", edit_shop_path(@shop.id), class:"action-link"%>
            </p>
          <% end %>
          <p class="shop-btn">
            <%= link_to "投稿", shop_tweets_path(@shop.id), class:"action-link" %>
          </p>
        </div>
      </div>
      <div class="shops-show-shop-image">
        <%= image_tag @shop.image, class:"shops-show-image" %>
      </div>
      <div class="shops-show-shop-text">
        <%= simple_format(@shop.text) %>
      </div>
      <% if shopkeeper_signed_in? && current_shopkeeper.id == @shop.shopkeeper_id %>

      <% end %>
    </div>
    
    <div class="items">
      <div class="shops-show-items-show-title">
        商品一覧
      </div>
      <ul class="shops-show-items-show">
        <% @items.each do |item| %>
        <li class="shops-show-items-list">
          <%= link_to shop_item_path(@shop.id, item.id), class:"shops-show-item-link" do %>
            <div class="shops-show-items-image">                
              <%= image_tag item.image, class: "shops-show-item-image" %>
            </div>
            <div class="shops-show-items-detail">
              <div class="shops-show-items-name">
                <%= item.name %>
              </div>
              <div class="shops-show-items_price">
                ￥<%= item.price %>
              </div>
            </div>
          <% end %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>
    

