<%= render 'shared/header' %>

<div class="shops-show-main">
  <div class="shops-show-left">
  </div>
  <div class="shops-show-right">
    <div class="shops-show-shop">
      
      <div class="shop-name">
        <%= @shop.name %>
      </div>
      <div class="shops-show-shop-top">
        <div class="shops-show-shopkeeper-link">
          <% if shopkeeper_signed_in? && current_shopkeeper.id == @shop.shopkeeper_id %>
            <p class="shop-btn">
              <%= link_to "出品", new_shop_item_path(@shop.id), class:"action-link" %>
            </p>
            <p class="shop-btn">
              <%= link_to "店舗の編集・削除", edit_shop_path(@shop.id), class:"action-link"%>
            </p>
          <% end %>
          <p class="shop-btn">
            <%= link_to "投稿", shop_tweets_path(@shop.id), class:"action-link" %>
          </p>
        </div>
      </div>
      <div class="shops-show-shop-image">
        <%= image_tag @shop.image, class:"shops-show-image" %>
      </div>
      <div class="shops-show-shop-text">
        <%= simple_format(@shop.text) %>
      </div>
      <% if shopkeeper_signed_in? && current_shopkeeper.id == @shop.shopkeeper_id %>

      <% end %>
    </div>
    
    <div class="items">
      <div class="shops-show-items-show-title">
        商品一覧
      </div>
      <ul class="shops-show-items-show">
        <% @items.each do |item| %>
        <li class="shops-show-items-list">
          <%= link_to shop_item_path(@shop.id, item.id), class:"shops-show-item-link" do %>
            <div class="shops-show-items-image">                
              <%= image_tag item.image, class: "shops-show-item-image" %>
            </div>
            <div class="shops-show-items-detail">
              <div class="shops-show-items-name">
                <%= item.name %>
              </div>
              <div class="shops-show-items_price">
                ￥<%= item.price %>
              </div>
            </div>
          <% end %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>
    

