<div class="shop_main">
  <% if shopkeeper_signed_in? && current_shopkeeper.id == @shop.shopkeeper_id %>
    <%= link_to "ログアウト", destroy_shopkeeper_session_path, method: :delete %>
    <%= link_to "MyShopトップへ戻る", root_path %>
  <% else %>
    <%= link_to "MyShopトップへ戻る", root_path %>
  <% end %>
  <div class="shop_name">
    <h2><%= @shop.name %></h2>
  </div>
  <div class="shop_text">
    <%= @shop.text %>
  </div>
  <div class="shop_image">
    <%= image_tag(@shop.image) %>
  </div>
  <% if shopkeeper_signed_in? && current_shopkeeper.id == @shop.shopkeeper_id %>
  <div class="item_btn">
    <%= link_to "出品", '/shops/:shop_id/items/new' %>
  </div>
</div>
<% end %>
<div class="items_show">
  <% @items.each do |item| %>
    <div class="item_image">
      <%= image_tag(item.image) %>
    </div>
    <div class="item_image">
      <%= item.name %>
    </div>
    <div class="item_image">
      <%= item.price %>
    </div>
  <% end %>
</div>
    

