<%= render 'shared/header' %>

<div class="tweet-show">

  <div class="tweet-show-top">
    <div class="tweet-show-image">
      <%= image_tag @tweet.image.variant(resize: '400x300') if @tweet.image.present? %>
    </div>
    <div class="tweet-show-createdtime">
      <%= l @tweet.created_at %>
    </div>
  </div>
  <div class="tweet-show-title">
    <h3><%= @tweet.title %></h3>
    </div>
  <div class="tweet-show-text">
    <%= simple_format(@tweet.text) %>
  </div>
  <div class="tweet-delete">
    <% if shopkeeper_signed_in? && current_shopkeeper.id == @tweet.shopkeeper_id %>
      <%= link_to "削除", shop_tweet_path(@tweet), method: :delete, class:"action-link" %>
    <% end %>
  </div>

  <div class="tweet-comments">
    <div class="tweet-comment-new">
      <% if shopkeeper_signed_in? || customer_signed_in? %>
        <%= form_with(model: [@shop, @tweet, @tweetcomment], class:"tweet-comment", local:true) do |f| %>
          <%= f.text_area :text, class:"tweet-comment-input", placeholder:"コメント" %>
          <%= f.submit "送信", class:"tweet-comment-send"%>
        <% end %>
      <% end %>
    </div>
    <div class="tweet-comments-all" id="comments">
      <% if @tweetcomments.present? %>
        <% @tweetcomments.reverse_each do |tweetcomment| %>
          <div class="tweet-comment-list">
            <div class="tweet-comment-top">
            <div class="tweet-comment-name">
              <% if tweetcomment.shopkeeper_id.present? %>
                <%= tweetcomment.tweet.shop.name %>
              <% elsif tweetcomment.customer_id.present? %>
                <%= tweetcomment.customer.nickname %>
              <% end %>
            </div>
            <div class="tweet-comment-time">
            <% tweetcomment.created_at %>
            </div>
            </div>
            <div class="tweet-comment-text">
              <%= simple_format(tweetcomment.text) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>