<%= render 'shared/header' %>

<div class="purchase">
  <div class="purchase-top">
    <div class="item-show-shop-name">
      <%= link_to  @shop.name, shop_path(@shop.id), class:"item-show-shop-link"%>
    </div>
    <div class="item-show-image">
      <%= image_tag @item.image, class:"item-show-item-image" %>
    </div>
    <div class="item-show-item-detail">
      <div class="item-show-item-name">
        <%= @item.name %>
      </div>
      <div class="item-show-item-price">
        ￥<%= @item.price %>
      </div>
    </div>
  </div>
  <div class="purchase-bottom">
    <div class="purchase-customer-info">
      ご確認をお願いいたします。
      <h3>【お届け先】</h3>
      <div class="purchase-customer-address">
        <b>郵便番号</b>
      </div>
      <div class="customer-address">
        <%= current_customer.residence.postal_code %>
      </div>
      <div class="purchase-customer-address">
        <b>都道府県</b>
      </div>
      <div class="customer-address">
        <%= current_customer.residence.prefecture.name %>
      </div>
      <div class="purchase-customer-address">
        <b>市町村区</b>
      </div>
      <div class="customer-address">
        <%= current_customer.residence.house_num %>
      </div>
      <% if current_customer.residence.building_name.present? %>
        <div class="purchase-customer-address">
          <b>建物名</b>
        </div>
        <div class="customer-address">
          <%= current_customer.residence.building_name %>
        </div>
      <% end %>
      <h3>【カード情報】</h3>
      <div class="purchase-customer-address">
        <b>カード番号</b>
      </div>
      <div class="customer-address">
        <%= "**** **** ****" + @card[:last4] %>
      </div>
      <div class="purchase-customer-address">
        <b>有効期限</b>
      </div>
      <div class="customer-address">
        <%= @card[:exp_month] %>/<%= @card[:exp_year] %>
      </div>
      </div>

    <div class="purchase-info">

        <%= link_to "マイページで編集", customer_path(current_customer), class:"action-link" %>
        <%= link_to "購入", shop_item_purchases_path(@shop, @item), method: :create, class:"action-link" %>
    </div>
  </div>
</div>