<%= render 'shared/header' %>

<div class="shops-show-main">
  <div class="shops-show-left">
    <div class="search-items">
      <h4>このお店の商品を探す</h4>
      <ul class="item-search">
        <%= search_form_for @p, url:search_shop_items_path(@shop.id) do |f| %>
          <li>カテゴリー</li>
            <%= f.collection_select :itemcategory_id_eq, Itemcategory.find(@shop.itemcategory_id).children, :id, :name, include_blank:"指定なし", class:"search-items-select" %>
          <li>発送までの日数</li>
            <%= f.collection_select(:shipday_id_eq, @shipday, :id, :name, {include_blank:"指定なし"}, {class:"search-items-select"}) %>
          <li>価格</li>
            <%= f.radio_button :price_lteq, "" %>
              指定なし
            <%= f.radio_button :price_lteq, "1000" %>
              1,000円以下
            <%= f.radio_button :price_lteq, "2500" %>
              2,500円以下
            <%= f.radio_button :price_lteq, "5000" %>
              5,000円以下
          <%= f.submit "完了", class:"search-link"%>
          <%= link_to "クリア", shop_path(@shop), class:"search-link" %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="shops-show-right">
    <div class="shops-show-shop">
      
      <div class="shop-name">
        <%= @shop.name %>
      </div>
    
    <div class="items">
      <div class="items-search-result">
        検索結果
      </div>
      <div class="search-result-items">
      <% if @result_items.present? %>
        <ul class="shops-show-items-show">
          <% @result_items.each do |item| %>
            <li class="shops-show-items-list">
              <%= link_to shop_item_path(@shop.id, item.id), class:"shops-show-item-link" do %>
                <div class="shops-show-items-image">                
                  <%= image_tag item.image, class: "shops-show-item-image" %>
                </div>
                <div class="shops-show-items-detail">
                  <div class="shops-show-items-name">
                    <%= item.name %>
                  </div>
                  <div class="shops-show-items_price">
                    ￥<%= item.price %>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        お探しの商品は見つかりませんでした。
        <%= link_to "お店のトップへ戻る", shop_path(@shop), class:"action-link" %>
      <% end %>
      </div>
    </div>
  </div>
</div>