<%= render 'shared/header' %>

<div class="item-show">
  <div class="item-show-top">
    <div class="item-show-shop-name">
        <%= link_to  @item.shop.name, shop_path(@item.shop.id), class:"item-show-shop-link"%>
    </div>
    <div class="shops-show-shopkeeper-link">
      <% if shopkeeper_signed_in? && current_shopkeeper.id == @item.shopkeeper_id %>
        <p class="shops-show-item-edit">
          <b><%= link_to "商品の編集・削除", edit_shop_item_path(@item.shop.id, @item.id), class:"shops-show-edit-link" %></b>
        </p>
      <% end %>
    </div>
  </div>
  <div class="item-show-item">
    <div class="item-show-image">
      <%= image_tag @item.image,class:"item-show-item-image" %>
    </div>
    <div class="item-show-item-detail">
      <div class="item-show-item-name">
        <%= @item.name %>
      </div>
      <div class="item-show-item-price">
        ￥<%= @item.price %>
      </div>
    </div>
    <div class="item-show-item-text">
      <%= @item.text %>
    </div>
    <div class="item-show-size">
      <b>サイズ・個数</b>
    </div>
      <div class="item-show-item-size">
        <%= @item.size %>
      </div>
    
    <div class="item-show-shipping">
      <b>発送までの日数</b>
      </div>
      <div class="item-show-item-shipping">
        <%= @item.shipday.name %>
      </div>
    
    <div class="item-show-stock">
      在庫
      </div>
      <div class="item-show-item-stock">
        各サイズ３個ずつ
      </div>
    
    <div class="item-show-imformation">
      注意点など
      </div>
      <div class="item-show-item-imformation">
        <%= @item.imformation %>
      </div>
    
  </div>
  <div class="item-show-item-purchase">
    <b>購入する</b>
  </div>

  <div class="item-comments">
    <div class="item-comment-new">
      <% if shopkeeper_signed_in? || customer_signed_in? %>
        <%= form_with url: shop_item_itemcomments_path, class:"item-comment" do |f| %>
          <%= f.text_area :text, class:"item-comment-input" %>
          <%= f.submit "投稿", class:"item-commnet-send"%>
        <% end %>
      <% end %>
    </div>
    <div class="item-comments" id="comments">
      <% if @itemcomments.present? %>
        <% @itemcomments.reverse_each do |itemcomment| %>
          <% if shopkeeper_signed_in? %>
            <%= itemcomment.shopkeeper.name %>
          <% else %>
            <%= itemcomment.customer.nickname %>
          <% end %>
          <%= itemcomment.text %>
          <%= itemcomment.created_at %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>