<%= render 'shared/header' %>  
<div class="card-page">
  <%= form_with  url: cards_path, id: 'charge-form', class: 'card-form',local: true do |f| %>
  クレジットカードの登録<br>
  <div class='card'>
    <%= f.label :number, "カード番号" %>
  </div>
    <%= f.text_field :number, class:"card-input", placeholder:"カード番号(半角英数字)", maxlength:"16" %>

  <div class='card'>
    <%= f.label :cvc ,"ＣＶＣ" %>
  </div>
    <%= f.text_field :cvc, class:"card-input", placeholder:"カード背面にある3桁の番号", maxlength:"4" %>
  <div class='card-exp'>
  <br>
    有効期限
        <div class='input-expiration-date-wrap'>
      <%= f.select :exp_month, 1..12, {include_blank: "---"}, class: "exp_month" %>
      <p>月</p>
      <%= f.select :exp_year, 20..25, {include_blank: "---"}, class: "exp_year" %>
      <p>年</p>
    </div>
  </div>
  <%= f.submit "登録する" , class:"action-link" %>
  </div>
<% end %>